<section id="archive" class="workshops">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Archive</h2>
                <p class="section-subheading-feature">Browse the Event Website of our 2017 Event.</p>
            </div>
        </div>
        <div class="row">
            <a href="/2017" target="_blank"><img src="img/logos/blt_2017.png" style="width: 100%" /></a>
        </div>
    </div>
</section>