<section id="media" class="workshops">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Media</h2>
                <p class="section-subheading-feature">In the coming weeks and months we will publish all the moments our media teams captured.</p>
                <p class="section-subheading-feature">In the meantime,<br/>watch the Berlin Legal Tech 2017 Conference Trailer.</p>
            </div>
        </div>
        <div class="row">
            <div class="responsive-video">
                <iframe width="1280" height="720" src="https://www.youtube.com/embed/ifhpY1QcFNY" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>